.main {

  display: grid;
  justify-content: center;
  align-content: center;
  grid-area: 100%;

}

.row {
  display: contents;
  font-size: large;
  font-family: sans-serif;
}

.label {
  min-width: 112px;
}

input {
  display: flex;
  padding-top: 0%;
  min-width: 400px;
  min-height: 30px;
  font-size: medium;
  appearance: none;
  border: none;
  background-color: lightgray;

}

button {
  min-width: 400px;
  min-height: 30px;
  background-color: #007aff;
  appearance: none;
  border: none;
  color: white;

}

button:hover {
  background-color: #47ffca;
}

.plux {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  padding-left: 350px;
}

.crypto {
  display: inline-block;
  padding: 30px 60px 0px;
  width: 300px;
}

.container {
  display: flex;
  width: 200px;
}

.coin_price {
  display: grid;
}

img {
  display: block;
  height: 100px;
  width: 100px;
}

#doge {
  width: 90px;
  height: 60px;
}

#ltc {
  height: 65px;
  width: 85px;

}

#unit {
  display: flex;
  width: 100px;
}

.logo {
  display: grid;
}

.tradingview-widget-container {
  display: flex;
  padding-top: 30px;
  justify-content: middle;
  align-content: middle;
}